<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hc3.m4">

    // Permission required to play music outside of current page
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        // Local library - our "main" page
        <activity
            android:name=".LocalLibrary"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService" />

        <activity
            android:name=".PlayPage"
            android:label="@string/title_activity_play_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".OnlineSection"
            android:label="@string/title_activity_online_section"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".NewReleasesRecommended"
            android:label="@string/title_activity_newreleases"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Top100Songs"
            android:label="@string/title_activity_top100songs"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".AddSongs"
            android:label="@string/title_activity_addsongs"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".DeletePage"
            android:label="@string/title_activity_deletepage"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".DeletePlaylistPage"
            android:label="@string/title_activity_deleteplaylistpage"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".DeletePlaylistSongPage"
            android:label="@string/title_activity_deleteplaylistsongpage"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>